

.feature {
    display: flex;
    flex-flow: column nowrap;
    border: 5px solid black;
    border-radius: 20px;
    width: 265px;
    align-items: center;
    font-size: 15pt;
    padding: 10px;
}

.feature p{
    font-size: 10pt;
}